<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
     <ion-col size="6">
     <ion-card>
       <img src="https://th.bing.com/th/id/OIP.t3cEYgwMq_shDCvKPh37_AHaE8?w=296&h=197&c=7&r=0&o=5&pid=1.7" alt="">
      <ion-card-content>
        <p><strong>Cafe Cappuccino</strong></p>
        <p class="ion-text-right"><ion-badge>6,00</ion-badge> </p>
      </ion-card-content>
     </ion-card>

      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://th.bing.com/th/id/OIP.oPyL2FlHcbsQB040YTgTVgHaFP?w=297&h=210&c=7&r=0&o=5&pid=1.7" alt="">
         <ion-card-content>
           <p><strong>Suco de Laranja</strong></p>
           <p class="ion-text-right"><ion-badge>4,00</ion-badge> </p>
         </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
     </ion-grid>

     <ion-row>

      <ion-grid>
        <ion-row>
         <ion-col size="6">
         <ion-card>
           <img src="https://th.bing.com/th/id/OIP.cyWxRZUvKbUzjAHWvzrOVgHaFj?w=251&h=189&c=7&r=0&o=5&pid=1.7" alt="">
          <ion-card-content>
            <p><strong>Café</strong></p>
            <p class="ion-text-right"><ion-badge>5,00</ion-badge> </p>
          </ion-card-content>
         </ion-card>

          </ion-col>
          <ion-col size="6">
            <ion-card>
              <img src="https://th.bing.com/th/id/OIP.dxuqMupfZ0W0YlTel-zZzwHaD4?w=299&h=180&c=7&r=0&o=5&pid=1.7" alt="">
             <ion-card-content>
               <p><strong>Café Expresso</strong></p>
               <p class="ion-text-right"><ion-badge>5,00</ion-badge> </p>
             </ion-card-content>
            </ion-card>
          </ion-col>
          </ion-row>
         </ion-grid>












     </ion-row>

</ion-content>
